<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>917894496812-affgl3lrakq5ovbvf42cemnt2qtkvsse.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.917894496812-affgl3lrakq5ovbvf42cemnt2qtkvsse</string>
	<key>API_KEY</key>
	<string>AIzaSyDYa9CPeirA7Tpr4gnZ6qRvpQ3eo3sGyRI</string>
	<key>GCM_SENDER_ID</key>
	<string>917894496812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>WT.tier1</string>
	<key>PROJECT_ID</key>
	<string>wheres-that</string>
	<key>STORAGE_BUCKET</key>
	<string>wheres-that.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:917894496812:ios:de4b270059c4387f</string>
	<key>DATABASE_URL</key>
	<string>https://wheres-that.firebaseio.com</string>
</dict>
</plist>